<!DOCTYPE html>
<html>
<head>
    <style>
        .c1,.c2 { color: red; }
        #c3 { color: red; }
    </style>
</head>
<body>
            <div class='c1'>aaa</div>
            <div class='c2'>aaa</div>
            <div id='c3'>aaa</div>
<h1>hello</h1>
<form>
<input type='text' name='a' value='123'>
<input type='submit' id='submit', value='submit'><br/>
<input type='checkbox' name='b1' checked='checked'>b1</input>
<input type='checkbox' name='b2' checked='checked'>b2</input>
<textarea name='textarea'>text</textarea><br/>
<select name='select'>
<option>111</option>
<option>222</option>
<option selected='selected'>2222222222</option>
</select>
</form>
</body>
<script> 
document.getElementById('submit').focus();
</script>
</html>
