{% extends "base.html" %}

{% block title %}修改图书{% endblock %}
{% block content %}
<div class='container'>
    {% for message in messages %}
        <div class='alert alert-{{message.tags}}'>{{ message }}</div>
    {% endfor %}
    <div class='row'>
        <div class='col-md-12'>
            <div class='panel panel-default'>
                <div class='panel-heading' align=center>
                <h3>修改图书</h3>
                </div>
            </div>
            <form action='.' method='POST' enctype="multipart/form-data">
                {% csrf_token %}
                {{ book_form.as_p }}
                <input type='submit' value='提交'><br/>
            </form>
        </div>
    </div>
</div>
{% endblock %}


